.App {
  text-align: center;
}

body {
  font-family: 'Roboto Slab', serif;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.climb-card {
  height: 41rem;
  max-width: 30%;
  margin: 1%;
  box-shadow: 0 6px 6px rgba(0,0,0,0.1);
  border: 1px solid black;
  
}


.climb-img {
  height: 20rem;
}

.map-img {
  height: 15rem;
  width: 15rem;
}

.profile-pic {
  border-radius: 100%;
}

.edit-icon {
  font-size: 17px;
  vertical-align: top;
}
.ascent-logo{
  height: 45px;
  width: 45px;
  border-radius: 100%;
  border: 2px solid black;
  
}

.ascent-text {
  font-weight: bold;
  font-size: 1.25rem;
  margin-right: 1rem;
  margin-left: -5px;
  font-family: 'Play', sans-serif;
}
.review {
  border: 1px solid black;
}

.carousel-img{
  height: 25rem;
  width: 35rem;
  margin: auto;
}

.carousel{
  width: 75%;
  margin: auto;
  border-radius: 3%;
  border: 1px solid black;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.climbs-list{
  width: 50%;
  margin: 0;
  font-size: 10px;
}

.featured-review{
  border: 1px solid white;
  margin: 1rem;
  border-radius: 8%;
  box-shadow: 1px 2px white;

}

.featured-reviews-container {
  width: 20%;
}

.home-title{
  font-family: "Play", sans-serif;
  margin-top: 2rem;
}
.home-link{
  color: white;
}

hr {
  font-weight: bold;
  background-color: white;
}

.row{
  border-radius: 5%;
}

.profile-form{
  height: 5rem;
}
.climb-card-body{
  background-color: rgb(199, 198, 198);
  /* border: 1px solid black; */
}

.card-buttons{
  height: 50%;
}

.card .card-buttons{
  visibility: hidden;
}

.card:hover .card-buttons{
  visibility:visible;
}

.card-btn:hover{
  transform: scale(1.15);

}

#complete-btn{
  justify-self: flex-end;
}
#review-btn{
  margin-top: 13rem;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-icon{
  margin-left: 1rem;
}

.caret-off::before {
  display: none;
}
.caret-off::after {
  display: none;
}

.ellipsis{
  font-size: 1.5rem;
  padding: 0px;
}

.btn-group{
  float: right;
}

.check-mark{
  background-color: white;
  padding: 3px;
  padding-top: 7px;
  border-radius: 10%;
  margin: 0px;
}

.complete-marker {
  margin: 0px;
  padding: 0px;
}

.fa-check-circle {
  font-size: 1.5rem;
  margin-top: 9px;
}

.ellipsis{
  font-size: 1.5rem;
}

.drop-btn:hover{
  transform: scale(1.15);
}

.profile-div{
  margin-top: 1rem;
}

.profile{
  border: 1px solid grey;
  border-radius: 10%;
}

.form-check{
  margin: 1rem;
}

.search-form-div{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.search-form-group{
  border: 1px solid black;
  width: 60%;
  padding: 1rem;
  margin: auto;
}



