.App {
  text-align: center;
}

body {
  font-family: 'Roboto Slab', serif;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.climb-card {
  height: 43rem;
  max-width: 30%;
  margin: 1%;
}

.climb-img {
  height: 20rem;
}

.map-img {
  height: 15rem;
  width: 15rem;
}

.profile-pic {
  border-radius: 100%;
}

.edit-icon {
  font-size: 17px;
  vertical-align: top;
}
.ascent-logo{
  height: 45px;
  width: 45px;
  border-radius: 100%;
  border: 2px solid black;
  
}

.ascent-text {
  font-weight: bold;
  font-size: 1.25rem;
  margin-right: 1rem;
  margin-left: -5px;
  font-family: 'Play', sans-serif;
}
.review {
  border: 1px solid black;
}
